<div class="user-details">
  <h1> About Me </h1>
  <p> I'm Shobhit Jain and I enjoy creating things that live on the internet. I've got interest in making Discord Bots
    in December 2020 which uses discord.py library with that I made alot of discord bots for clients as well as for my
    use.
    One of my biggest project is Oi Bot!
    Which has more than 90+ usable Commands and the bot has 220k+ users now, which gave me a bit of confidence in
    programming. Seeking a beginner role to enhance and
    explore my technical knowledge gained at RGPV University
    in the last three years. I hold a B.Tech Computer Science degree from Shivajirao Kadam Institute of Technology and
    Management
    college. </p>
  <h1> My Expertise </h1>
  <!-- <div class="tech">
    <div class="tech"> -->
  <h2>Programming</h2>
  <i class="devicon-python-plain"></i>
  <i class="devicon-c-plain"></i>
  <i class="devicon-cplusplus-plain"></i>
  <p></p>
  <!-- </div>
    <div class="tech"> -->
  <h2>Tools</h2>
  <i class="devicon-aftereffects-plain"></i>
  <i class="devicon-photoshop-plain"></i>
  <i class="devicon-wordpress-plain"></i>
  <i class="devicon-premierepro-plain"></i>
  <i class="devicon-illustrator-plain"></i>
  <p></p>
  <!-- </div> -->
  <!-- <div class="tech"> -->
  <h2>Platforms</h2>
  <i class="devicon-git-plain"></i>
  <i class="devicon-azure-plain"></i>
  <i class="devicon-filezilla-plain"></i>
  <i class="devicon-postgresql-plain"></i>
  <i class="devicon-visualstudio-plain"></i>
  <i class="devicon-woocommerce-plain"></i>
  <p></p>
  <!-- </div>
  </div> -->
</div>