<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
  <p> I'm Shobhit Jain. Seeking a beginner role to enhance and explore my technical knowledge gained at RGPV University
    in the last three years. I hold a B.Tech degree from Shivajirao kadam institute of technology and management
    college. </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>I Have HTML knowledge</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <p>Worked alot on this tools</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>github pro facewink</p>
  </div>
</div>