<div class="user-details">
  <h1> About Me </h1>
  <p> I'm Shobhit Jain, and I like to make stuff that can be found on the internet. In December 2020, I'm interested in
    creating Discord Bots using the Discord.py library, which I've used to create a number of bots for clients and
    personal use. Oi Bot is one of my most ambitious projects. Which has over 90 useful Commands, and the bot now has
    over 220k users, giving me some programming confidence. I'm looking for a starting position where I can expand and
    develop my technical skills from RGPV University during the last three years. I graduated from Shivajirao Kadam
    Institute of Technology and Management with a B.Tech in Computer Science. </p>
  <h1> My Expertise </h1>
  <div class="user">
    <div class="tech">
      <h2>Programming</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-c-plain"></i>
      <i class="devicon-cplusplus-plain"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-aftereffects-plain"></i>
      <i class="devicon-photoshop-plain"></i>
      <i class="devicon-wordpress-plain"></i>
      <i class="devicon-premierepro-plain"></i>
      <i class="devicon-illustrator-plain"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Platforms</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-azure-plain"></i>
      <i class="devicon-filezilla-plain"></i>
      <i class="devicon-postgresql-plain"></i>
      <i class="devicon-visualstudio-plain"></i>
      <i class="devicon-woocommerce-plain"></i>
      <p></p>
    </div>
  </div>
</div>