<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/jpg"
    href="https://i.pinimg.com/originals/16/dd/eb/16ddeb235397a444e44dd36425a8220e.jpg" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta property="og:title" content="Shobhit Jain">
  <meta property="og:site_name" content="Portfolio Website">
  <meta property="og:description"
    content="Shobhit Jain is a Python/C/C++ and Wordpress developer from Indore, India. Now is the time to see his portfolio site!">
  <meta property="og:image"
    content="https://media-exp1.licdn.com/dms/image/sync/C5627AQEnf-_RP3slIA/articleshare-shrink_800/0/1635274573116?e=1635789600&v=beta&t=CSJHgiHFtQGj3QMsN0q6iIi-ptn5rfd0CFqJyUTKXSY">
  <meta property="og:url" content="https://www.shobhit.ga">
  <meta name="description"
    content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="theme-color" content="#B81217">

  <link rel="stylesheet" href="{{ " /assets/css/main.css" | prepend: site.baseurl }}">
</head>