<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ " /assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Discord Bot </h3>
    <ul>
      <li> Made with Discord.py </li>
    </ul>
    <p>I Started Making this project on 15th August. The Name of the Bot is Oi. It is made with discord.py library which
      is specially made for discord developers. It has alot features you can check them on discord. I've also made the
      website for this Bot you can check it out by clicking
      the button below.</p>
    <a class="project-link" href="https://oibot.ga">Check it out</a>
  </div>
</div>