<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="DiscordBotOI" src="{{ " /assets/img/discord.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Discord Bot </h3>
    <ul>
      <li> Made with Discord.py Library </li>
      <li> Users : 220,000+ </li>
      <li> Servers : 230+ </li>
    </ul>
    <p>I Started Making this project on 15th August. The Name of the Bot is Oi. It is made with discord.py library which
      is specially made for discord developers. It has alot features you can check them on discord. I've also made the
      website for this Bot you can check it out by clicking
      the button below.</p>
    <a class="project-link" href="https://oibot.ga">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Python Projects By Shobhit" src="{{ " /assets/img/python.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Python Projects </h3>
    <ul>
      <li> Python Projects By Shobhit</li>
    </ul>
    <p>Here is a list of some of my Python projects I have completed during the learning period. Below is the Github
      Link you can check it out and star them!</p>
    <a class="project-link" href="https://github.com/Shobhits7/python-projects">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Jarvis" src="{{ " /assets/img/jarvis.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> AI Voice Chatting Bot </h3>
    <ul>
      <li> Jarvis</li>
    </ul>
    <p>
      <This is the New Jarvis AI Project it will do some functionality followed by user query. Made with
        speech_recognition module./p>
        <a class="project-link" href="https://github.com/Shobhits7/AI-jarvis">Check it out</a>
  </div>
</div>